---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

table.table { border-collapse: collapse; }
tr.abstract { border-top: 2px solid #ffffff; }

tr.noshow { display: none;}
tr.highlight td { background-color: #EFEFEF; border-top: 2px #2E2E2E solid;}
tr.abstract td, tr.review td, tr.bibtex td { background-color: #EFEFEF; text-align: justify; border-bottom: 2px #2E2E2E solid; }
tr.nextshow td { border-bottom: 1px gray solid; }

tr.abstract pre { width: 97.7%; overflow: auto; white-space: pre-wrap;}
tr.bibtex pre { width: 97.7%; overflow: auto; white-space: pre-wrap;}
p.infolinks { margin: 0.3em 0em 0em 0em; padding: 0px; }


// Our variables
$base-font-family: 'Raleway', Helvetica, Arial, sans-serif;
$base-font-size:   1.0em;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.45;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #A31F34;
// $gameday-sky: #109dc0;
$clemson-purple:      #8A8B8C;
$clemson-orange:      #A31F34;


$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


// Width of the content area
$content-width:    1500px;

$on-palm:          600px;
$on-laptop:        1500px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "header",
    "mobile-header",
        "base",
        "layout",
        "syntax-highlighting",
    "fancy-image"
;
